  .message {
    text-align: center;
    padding: 20px;
    background: #f3ffef;
    color: #888888;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 12px;
    }

  .message h1 {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 20px;
    }
        .message p {
            font-size: 16px;
            color: #666;
            text-align: justify;
            margin-bottom: 10px;
        }
        .message a {
            color: #0000CD;
            text-decoration: none;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }
        .message a:hover {
            text-decoration: underline;
        }